@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento');

:root {
  --dark-purple: #47304a;
  --lt-gray: #F2F3F1;
  --md-gray: #A1B0AB;
  --md-green: #52796F;
  --lt-green: #84A98C;
  --header-font: 'Quattrocento', serif;
  --subheader-font: 'QuattrocentoSans', sans-serif;
}

body {
  background-color: var(--lt-gray);
}

.header--main {
  background: var(--dark-purple);
  color: var(--lt-gray);
  padding: 10px;
  top: 0;
  font-family: var(--header-font);
}

.header__tagline--main {
  font-family: var(--subheader-font);
  font-size: 1em;
  margin-left: 15px;
}

.booklist {
  margin: 10px 20px;
}

.book {
  border: 1px solid var(--md-gray);
  margin: 10px 0;
  padding: 10px;
}

.book__cover {
  height: 100px;
}

.book__more-info {
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
}